.logos {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.8 !important;
    padding: 40px 0px !important;
    gap: 20px !important;
    height: fit-content !important;
    position: relative;
    background-color: #25A4AD;
}