.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 120px;
    width: 70%;
    margin-left: 15%;
}

.headingGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 73px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header {
    width: 100%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 250;
    font-size: 65px;
    line-height: 100%;
    /* identical to box height, or 65px */

    text-align: center;

    color: #313131;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-block: 0 !important;
}

.headerBold {
    width: 60%;
    margin-block: 0 !important;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 65px;
    font-weight: 500;
    color: #25A4AD;
    display: inline !important;
}

.headingDetail {
    width: 60%;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 147.9%;
    /* or 30px */

    text-align: center;

    color: #313131;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

@keyframes buttonShine {
    from {
        background-position: 0 0;
    }

    to {
        background-color: #25A4AD;
        color: white;
    }
}


.preRegister:hover {
    animation-name: buttonShine;
    animation-duration: 0.5s;

}

.preRegister {
    width: 244.34px;
    height: 65.91px;
    cursor: pointer;
    animation-fill-mode: forwards;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;

    color: #25A4AD;
    border: 1px solid #25A4AD;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}


.cardGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

    width: 100%;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.leftCardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

    width: 50%;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rightCardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 26px 0px 0px;
    gap: 45px;

    width: 50%;
    text-align: center;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardTopLeft:hover {
    border: #25A4AD 3px solid;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../../public/images/feed.png");
    border-radius: 250px 0px 0px 0px;
}

.cardBottomLeft:hover {
    border: #25A4AD 3px solid;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../../public/images/Webinar.png");
    border-radius: 0px 0px 0px 250px;
}

.cardTopRight:hover {
    border: #25A4AD 3px solid;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../../public/images/Kurumlar.png");
    border-radius: 0px 250px 0px 0px;
}

.cardBottomRight:hover {
    border: #25A4AD 3px solid;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../../public/images/mentor.png");
    border-radius: 0px 0px 250px 0px;
}

.cardTopLeft {
    width: 100%;
    height: 33.525625rem;

    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */


    /* Inside auto layout */
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;


    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../public/images/feed.png");
    border-radius: 236px 0px 0px 0px;
}

.cardBottomLeft {
    width: 100%;
    height: 33.525625rem;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../public/images/Webinar.png");
    border-radius: 0px 0px 0px 236px;
}

.cardTopRight {




    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../public/images/Kurumlar.png");
    border-radius: 0px 236px 0px 0px;


    width: 100%;
    height: 33.525625rem;

    text-align: center;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardBottomRight {
    width: 100%;
    height: 33.525625rem;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../public/images/mentor.png");
    border-radius: 0px 0px 236px 0px;
}

.cardHeader {

    width: fit-content;


    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 100%;
    /* or 46px */

    text-align: center;

    color: #FFFFFF;
    display: inline;

    position: relative;
    top: 3em;

}

.cardDetail {

    width: "fit-content";

    padding: 1rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */

    text-align: center;
    position: relative;
    top: 6em;

    color: #FFFFFF;
}