:root {
    -webkit-link: #25A4AD;
}

html {
    background-color: #fcf9f4;
    scroll-behavior: smooth;
}

br {
    line-height: 30%;

}

a {
    all: unset;
}

.line {
    width: 90%;
    height: 3px;
    background-color: #25A4AD;
    border-radius: 50px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    opacity: 0.6;
    position: relative;
    left: 5%;
}

body {
    margin: 0 !important;
}